/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  main work  */

body {
    background-color: rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 6px;
    padding-bottom: 30px;
}

/* HEADER */

.nav-bar {
    height: 80px;
    line-height: 80px;
    background-color: white;
    padding-left: 20px;
    border-bottom: 2px solid rgb(230, 230, 230); 
    
}

.boolean-logo {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.title {
    display: inline-block;
    vertical-align: middle;
}


.interactive-buttons {
    font-style: italic;
    padding: 10px;
    border: 0;
}

.button-task {
    background-color: lightskyblue;
    color: azure;
    border: 1%;
    border-radius: 10%;
    display: inline-block;
    border-color: lightskyblue;
}

.button-section {
    color: gray;
    background-color: rgb(255, 255, 255);
    border: 1%;
    display: inline-block;
    border-radius: 10%;
    border-color: gray;
}