/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  main work  */

body {
    background-color: rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 6px;
    padding-bottom: 30px;
}

/* HEADER */

.nav-bar {
    height: 80px;
    line-height: 80px;
    background-color: white;
    padding-left: 20px;
    border-bottom: 2px solid rgb(230, 230, 230); 
    
}

.boolean-logo {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.title {
    display: inline-block;
    vertical-align: middle;
}

.button-row{
    padding: 20px;
}

.interactive-buttons {
   font-size: 12px;
   padding: 7px 12px;
   border-radius: 6px;  
   border: 1px solid;
   cursor: pointer;
}


.button-task {
    background-color: lightskyblue;
    color: azure;
    display: inline-block;
    border-color: lightskyblue;
}

.button-section {
    color: gray;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    border-color: gray;
    margin-left: 5px;
}

.task-area {
    padding: 20px;
}

.section li {
    margin: 10px 0;
    list-style: none;
}

.section_title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.tag {
    font-size: 10px;
    padding: 3px 8px;
    border-radius: 8px;
    color: white;
    margin-left: 8px;
}

editorial { background-color: lightblue; }
.q1 { background-color: violet; }
.recruiting { background-color: lightgreen; }
.mobile { background-color: orange; }
.website { background-color: pink; }
.sales { background-color: yellow; }
